body{
margin:0;
font-family:Arial,sans-serif;
background:#0d0d0d;
color:#ffffff;
}

header{
background:linear-gradient(135deg,#111,#1b1b1b);
text-align:center;
padding:80px 20px;
}

h1{
font-size:48px;
color:#FFD700;
margin-bottom:10px;
}

h2{
color:#FFD700;
margin-top:40px;
}

p{
line-height:1.8;
max-width:900px;
margin:auto;
}

.button{
display:inline-block;
padding:15px 30px;
background:#FFD700;
color:#000;
text-decoration:none;
border-radius:8px;
font-weight:bold;
margin-top:25px;
}

.button:hover{
background:#ffcc00;
}

section{
padding:60px 20px;
text-align:center;
}

footer{
background:#111;
padding:25px;
text-align:center;
color:#999;
margin-top:40px;
}

a{
color:#FFD700;
text-decoration:none;
font-weight:bold;
}

a:hover{
    color:#ffffff;
    text-decoration:none;
}
Thikxa 
